*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}



nav{
    background-color:transparent;
    display:flex;
    padding:30px 20px;
    align-items: center;
    justify-content:space-between;
    color:#10203D;
    width:100%;
    position: relative;
    z-index: 99999;
    font-family: "atomicfont";
    top:0;
    
}


nav ul{
    display:flex;
    list-style-type: none;
    gap:20px;
    align-items: center;

}

nav ul li a{
    color:#10203D;
    font-weight:500px;
    font-family: atomicfont;
    font-weight: 600;
    font-size:18px;
}

nav ul .querybtn{
    border:1px solid #10203D;
    background-color:#10203D;
    color:white;
    padding:12px 35px;
    border-radius: 50px;
}
nav ul .querybtn a{
    color:white;
    
}

a.active,a:hover{
    color:#10203D;
    transition: .5s;
}

.humburgerbtn{
    display:none;
    position: relative;
    z-index: 2;
}

.H-btn{
    font-size: 30px;
    float: right;
}




@media(max-width:1400px){
    nav ul{
        display:none;
    }

 .humburgerbtn{
    display:flex;
    cursor: pointer;
     font-size: 30px;
 }

  #hammerbg{
    display:inherit;
  }

 .showData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(16, 32, 61, 0.6);
    backdrop-filter: blur(18px); /* blur effect */
    width:100%;
    text-align: center;
    padding:100px 0px 50px 0px;
    gap:22px;
    height:auto;
 }
 nav ul li a{
    color:white;
    font-weight:500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
}
a.active,a:hover{
    color:rgba(255, 255, 255, 0.514);
    transition: .5s;
}

nav ul .querybtn{
    border:1px solid #10203D;
    background-color:#ffffff;
    color:#10203D;
    padding:12px 35px;
    border-radius: 50px;
}
nav ul .querybtn a{
    color:#10203D;
    
}
.fa-xmark{
    color:white;
}

}

@media(max-width:767px){
    
    #hammerbg{
        display:block;
        position: absolute;
        top:0px;
        right:0px;
        height:90px;
        width:150px;
    }
}
